body {
    background-image: url("https://images.pexels.com/photos/1293269/pexels-photo-1293269.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    
    }
    
    .navbar {
        background-color: aqua;
    }
    
    .main {
        background-color: darkslateblue;
        padding: 10%;
        color: darkorange;
    }
    
    .start {
        background-color: crimson;
    }
    
    .answers p:hover {
        color: chartreuse;
        border: 2px;
        border-style: solid;
    }

    .title {
        text-align: center;
    }